@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: white;
    --color-2: black;
}

body{
    font-family: 'Press Start 2P', sans-serif;
    color: var(--text-color);
    background-color: var(--color-2);
}

header{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

main{
    height: 90vh;
}
.again{
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.4rem;
}

.instruction{
    font-size: 1.5rem;
}

.guess_instruction{
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.guess_display{
    position: relative;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
}

.horizontal{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 4rem;
}

hr{
    height: 0.5rem;
    background-color: var(--text-color);
}

.computer_guess{
    width: 15rem;
    height: 9rem;
    padding-top: 2rem;
    text-align: center;
    background-color: var(--text-color);
    color: var(--color-2);
    font-size: 4rem;
    display: absolute;
    margin: auto;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

section{
    display: flex;
    justify-content: space-around;
    margin: 1rem 5rem;
}

.left_section{
    display: grid;
    grid-template-columns: 1;
}

.guess_input{
    background-color: none;
    border: solid 1px var(--text-color);
    color: var(--color-2);
    text-align: center;
    width: 20rem;
    height: 8rem;
    font-size: 5rem;
    font-family: inherit;

}

.check_guess{
    padding: 0.5rem;
    font-weight: 600;
    height: 4rem;
    width: 50%;
    margin: 1rem auto;
}

.again:hover, .check_guess:hover{
    background-color: rgb(95, 91, 91);
    cursor: pointer;
}

.right_section{
    font-size: 1.5rem;
}

.start_guess{
    margin-bottom: 2rem;
}
.guess_result{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
}

/* MEDIA QUERY */
@media screen and (max-width:900px){
    .instruction{
        font-size: 75%;
    }
    .guess_instruction{
        font-size: 1.5rem;
    }
    .computer_guess{
        width: 10rem;
        height: 7rem;
    }

    .guess_input{
        height: 4rem;
        font-size: inherit;
        width: 10rem;
    }

    .guess_input:focus{
        background-color: #222;
        color: var(--text-color);
    }

    .guess_result, .guess_status, .start_guess{
        font-size: 1rem;
    }
}

@media screen and (max-width:700px){
    /* .instruction{
        font-size: 75%;
    }
    .guess_instruction{
        font-size: 1.5rem;
    }
    .computer_guess{
        width: 10rem;
        height: 7rem;
    } */

    section{
        flex-direction: column;
    }

    .guess_input{
        height: 4rem;
        font-size: inherit;
        width: 10rem;
    }

    .left_section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        margin-top: -3rem;
        margin-bottom: 2rem;
    }

}

