@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

:root{
    --primary: #606c38;
    --secondary: #283618;
}


body{
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.modal-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin: 5rem 6rem;
}

.show-modal{
    padding: 2rem 5rem;
    border-radius: 5rem;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.show-modal:focus{
    border: 0;
}

.modal{
    background-color: white;
    width: 50vw;
    margin: 4rem auto;
    position: relative;
    padding: 4rem;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.close-modal{
    position: absolute;
    top: 3rem;
    right: 4rem;
    background-color: white;
    border: 0;
    font-size: 3rem;
    cursor: pointer;
}

h1{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

p{
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: 2;
}

.hidden{
    display: none;
}

@media screen and (max-width: 880px){
    .modal{
        width: 80vw;
    }
}

@media screen and (max-width:700px) {
    .show-modal{
        padding: 1rem 2rem;
        font-size: 1rem;
    }
}


@media screen and (max-width:500px) {
    .modal-buttons{
      flex-direction: column;
      gap: 2rem;
    }

    .modal{
        top: 0;
    }
}