@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #03045e;
  --secondary: #0077b6;
  --tertiary: #fff;
  --inactive-player: #9cdae6ba;
  --active-player: #caf0f8;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    var(--secondary),
    var(--primary)
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

main {
  background-color: rgba(255, 255, 255, 0.35);
  height: 80vh;
  width: 60vw;
  border-radius: 0.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.player--contain {
  display: flex;
  height: 100%;
}

.player {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.player--0 {
  flex: 50%;
}

.player--1 {
  flex: 50%;
}

.player--active {
  background-color: var(--inactive-player);
}

.name {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}

.score {
  margin-top: -15rem;
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary);
}

.current {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary),
    var(--primary)
  );
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  color: var(--tertiary);
  width: 40%;
  height: 10rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-label {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.current-score {
  font-size: 4rem;
}

.dice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 19rem;
  height: 5rem;
  width: 5rem;
}

.btn--new,
.btn--hold,
.btn--roll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--new {
  top: 4rem;
}

.btn--roll {
  bottom: 15rem;
}

.btn--hold {
  bottom: 10rem;
}

.btn:hover{
    background-color: var(--active-player);
}

.hidden {
  display: none;
}

/* winner text */
.winner--text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 3rem;
  z-index: 10;
  animation-name: messageFlash;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

/* INSTRUCTION */
.instruction{
    background-color: white;
    position: absolute;
    width:90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem 4rem;
    border-radius:4px;
    line-height:2rem;
    font-size:1.2rem;
}

.instruction h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.instruction h3{
    font-size:1.8rem;
    margin-bottom:1rem;
}

.continue{
    border: 0;
    padding: 1rem;
    border-radius: 3px;
    background-image: linear-gradient(
        to bottom right,
        var(--secondary),
        var(--primary)
      );
    color: var(--tertiary);
    letter-spacing: 1.5px;
    margin-top: 2rem;
    
}

/* animation */
@keyframes messageFlash {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


/* MEDIA QUERY */
@media screen and (max-width: 700px) {
  main {
    width: 100vw;
    left: -50%;
    top: 0;
    transform: translate(50%);
    overflow: visible;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .current-label {
    font-size: 1.2rem;
  }

  .current-score {
    font-size: 2.5rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .score {
    font-size: 3rem;
  }
  .btn--roll,
  .btn--hold {
    bottom: -6rem;
  }

  .btn--roll {
    left: 70%;
  }

  .btn--hold {
    left: 35%;
  }
  .btn--new {
    font-size: 1.2rem;
  }
  .winner--text{
    font-size: 2rem;
  }
}

@media screen and (max-width: 408px) {
  .btn--hold,
  .btn--roll {
    font-size: 1rem;
  }

  .current {
    width: 50%;
  }
}

@media screen and (max-width: 330px) {
  .btn--hold,
  .btn--roll {
    padding: 0.8rem;
  }
}
